# Byte‐compiled / caches
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
env/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
logs/

# Data and models (you may want to add raw data, or store links instead)
data/DS_ElectricityLoad.csv
models/


# MLflow local files
mlruns/
mlartifacts/0

# OS files
.DS_Store
